:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 250px 20px;
    grid-gap: 0px;
    user-select: none;
}

h2 {
    text-align: center;   
}

h2 span {
    font-size:0.75em;
    font-weight:100;
    font-style:italic;
}

img {
    display:block;
    margin:0 auto;
}

.container {
    padding:0;
    width: 100%;
    height: 200px;
    display: block;
    margin: 0;
    text-align: center;
}

ce-avatar-not-found {
    display:none;
}

:host(.empty) ce-avatar-not-found {
    display: block;
}

:host(.empty) .container {
    display: none;
}

:host(.empty) ce-avatar-rotator-pager {
    display: none;
}