body,html {
    font-family:Montserrat,sans-serif;
    width:100%;
    padding:0;
    margin:0;
}

body {
    height: 100vh;
    margin:0;
    padding:0;
    background-color:#f4f4f4;
}

ce-app {

    display:block;
    height:100vh;
    
    .container {
        height:100%;        
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .router-outlet {        
        display:block;
        position:relative;        
        margin:0;
        padding:0;
        max-width: 100%;
    }
}



